<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        tr td{
            text-align: left;
        }
    </style>
</head>
<body>
<div th:include="~{common/header.html}"></div>
<main class="site-main">
    <section class="login_box_area section-margin">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <h2>게시글 작성</h2>
                    <div class="login_form_inner rounded">
                        <form action="/bbs/modify" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                            <table class="table">
                                <input type="hidden" name="bbsIdx" th:value="${boardDTO.bbsIdx}">
                                <input type="hidden" name="bbsGood" th:value="${boardDTO.bbsGood}">
                                <tbody>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="title">제목</label></td>
                                    <td><input type="text" class="form-control" id="title" name="bbs_title" placeholder="제목을 입력하세요" th:value="${boardDTO.bbs_title}"></td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;" ><label for="content">내용</label></td>
                                    <td><textarea class="form-control" id="content" rows="5" name="bbs_content" placeholder="내용을 입력하세요">[[${boardDTO.bbs_content}]]</textarea></td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="image">사진 업로드</label></td>
                                    <td>
                                        <span class="mb-4"><a href="#">이전 파일명 : [[${boardDTO.fileorgname}]]</a></span>
                                        <input type="checkbox" class="form-check-input" name="fileDel"><span>이미지 삭제</span>
                                        <input type="file" class="form-control" id="image" name="bbs_file1" accept="image/jpeg, image/png">
                                        <input type="hidden" name="orgFileName" th:value="${boardDTO.bbs_file}">
                                        <input type="hidden" name="orgSaveFileName" th:value="${boardDTO.fileorgname}">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label class="form-check-label">오늘의 학습에 노출</label></td>
                                    <td>
                                        <input type="radio" name = "bbsExposure" class="form-check-input" id="exposure1" value="Y" th:checked="${boardDTO.bbsExposure =='Y'}" onchange="duration(this)"><label>노출</label>
                                        <input type="radio" name = "bbsExposure" class="form-check-input" id="exposure2" value="N" th:checked="${boardDTO.bbsExposure =='N'}" onchange="duration(this)"><label>안 노출</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="bbs_duration">노출 기간</label></td>
                                    <td>
                                        <input type="date" class="form-control" name="bbsDuration1" id="bbs_duration" th:value="${boardDTO.bbsDuration1}" th:disabled="${boardDTO.bbsExposure =='N'}">
                                        <span>~</span>
                                        <input type="date" class="form-control" name="bbsDuration2" id="bbs_duration2" th:value="${boardDTO.bbsDuration2}" th:disabled="${boardDTO.bbsExposure =='N'}">
                                    </td>

                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="part">분야</label></td>
                                    <td>
                                        <button type="button" class="btn btn btn-sm btn-outline-success mb-1 " data-type="bbs_part" id="part" onclick="addPart(this)">추가</button>
                                        <th:block th:each="part: ${partlist}">
                                            <div class="input-group mb-1 partGroup">
                                                <input type="text" class="form-control" name="bbs_part" th:value="${part}">
                                                <button type="button" class="btn-close" aria-label="Close" onclick="deletePart(this)"></button>
                                            </div>
                                        </th:block>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="tag">해시 태그</label></td>
                                    <td>
                                        <button type="button" class="btn btn btn-sm btn-outline-success mb-1" data-type="bbs_tag" id="tag" onclick="addTag(this)">추가</button>
                                        <th:block th:each="tag: ${taglist}">
                                            <div class="input-group mb-1 TagGroup">
                                                <input type="text" class="form-control" name="bbs_tag" th:value="${tag}">
                                                <button type="button" class="btn-close" aria-label="Close" onclick="deleteTag(this)"></button>
                                            </div>
                                        </th:block>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-sm btn-outline-success">게시</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ 내용 End ================= -->
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function addPart(item) {
        let type = item.dataset.type;
        let div = document.createElement('div');
        let inp = document.createElement('input');
        let btn = document.createElement('button');
        div.classList.add('input-group', 'mb-1', 'partGroup');
        let innerText = '';
        innerText += '<input type="text" name="bbs_part" maxlength="10" class="form-control">';
        innerText += '<button type="button" class="btn-close" aria-label="Close" onclick="deletePart(this)"></button>'
        div.innerHTML = innerText;
        if(document.querySelectorAll('div.partGroup').length <4) {
            item.parentElement.append(div);
        } else {
            alert("4개 이상의 분야는 넣으실 수 없습니다.");
        }
    }
    function deletePart(item) {
        if(item.parentElement.parentElement.querySelectorAll('div.partGroup').length > 1) {
            item.parentElement.remove();
        } else {
            alert("최소 1개의 입력칸이 필요합니다.");
        }
    }

    function addTag(item) {
        let type = item.dataset.type;
        let div = document.createElement('div');
        let inp = document.createElement('input');
        let btn = document.createElement('button');
        div.classList.add('input-group', 'mb-1', 'TagGroup');
        let innerText = '';
        innerText += '<input type="text" class="form-control" name="bbs_tag" maxlength="10" class="form-control">';
        innerText += '<button type="button" class="btn-close" aria-label="Close" onclick="deleteTag(this)"></button>'
        div.innerHTML = innerText;
        if(document.querySelectorAll('div.TagGroup').length <4) {
            item.parentElement.append(div);
        } else {
            alert("4개 이상의 태그는 넣으실 수 없습니다.");
        }
    }
    function deleteTag(item) {
        if(item.parentElement.parentElement.querySelectorAll('div.TagGroup').length > 1) {
            item.parentElement.remove();
        } else {
            alert("최소 1개의 입력칸이 필요합니다.");
        }
    }

    function validateForm() {
        // 제목과 내용이 비어 있는지 확인
        var title = document.getElementById('title').value.trim();
        var content = document.getElementById('content').value.trim();

        let firstduration = document.querySelector("#bbs_duration").value.trim();
        let endduration = document.querySelector("#bbs_duration2").value.trim();

        var today = new Date();
        var yyyy = today.getFullYear();
        var mm = String(today.getMonth() + 1).padStart(2, '0');
        var dd = String(today.getDate()).padStart(2, '0');
        var currentDate = yyyy + '-' + mm + '-' + dd;

        if (title === '' || content === '') {
            alert('제목과 내용을 입력해주세요.');
            return false;
        }

        // 파일 업로드 유효성 검사
        var fileInput = document.getElementById('image');
        var file = fileInput.files[0];

        if (file) {
            var fileType = file.type;
            if (!fileType.startsWith('image/')) {
                alert('올바른 이미지 파일을 선택해주세요.');
                return false;
            }
        }

        if(document.querySelector("#bbs_duration").disabled == false) {
            if (endduration < currentDate) {
                alert("종료일은 오늘 날짜 이전으론 선택하실 수 없습니다.");
                return false;
            }
            if (firstduration > endduration) {
                alert("시작일이 종료일보다 앞설 수 없습니다.")
                return false;
            }
        }

        return true;
    }


    function duration(item){
        let checkYN = item.value;
        let duration = document.querySelector("#bbs_duration");
        let duration2 = document.querySelector("#bbs_duration2");
        if(checkYN == 'Y'){
            console.log(checkYN +"::::"+duration.disabled);
            duration.disabled = false;
            duration2.disabled = false;
        }else if(checkYN == 'N'){
            console.log(checkYN +"::::"+duration.disabled);
            duration.disabled = true;
            duration2.disabled = true;
        }
    }
</script>
</body>
</html>