<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        tr td{
            text-align: left;
        }
    </style>
</head>
<body>
<div th:include="~{common/header.html}"></div>
<main class="site-main">
    <section class="login_box_area section-margin">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-10 col-sm-12">
                    <h2>게시글 작성</h2>
                    <div class="login_form_inner rounded">
                        <form action="/bbs/regist" method="post" enctype="multipart/form-data">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="title">제목</label></td>
                                    <td><input type="text" class="form-control" id="title" name="bbs_title" placeholder="제목을 입력하세요"></td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;" ><label for="content">내용</label></td>
                                    <td><textarea class="form-control" id="content" rows="5" name="bbs_content" placeholder="내용을 입력하세요"></textarea></td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="image">사진 업로드</label></td>
                                    <td><input type="file" class="form-control-file" id="image" name="bbs_file1"></td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label class="form-check-label">오늘의 학습에 노출</label></td>
                                    <td>
                                        <input type="radio" name = "bbs_exposure" class="form-check-input" id="exposure1" value="Y"><label>노출</label>
                                        <input type="radio" name = "bbs_exposure" class="form-check-input" id="exposure2" value="N"><label>안 노출</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="bbs_duration">노출 기간</label></td>
                                    <td><input type="date" class="form-control" name="bbs_duration1" id="bbs_duration"></td>
                                    <td><input type="date" class="form-control" name="bbs_duration2" id="bbs_duration2"></td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="part">분야</label></td>
                                    <td><input type="text" class="form-control" id="part" name="bbs_part"></td>
                                </tr>
                                <tr>
                                    <td class="table-secondary" style="width: 20%;"><label for="tag">해시 태그</label></td>
                                    <td><input type="text" class="form-control" id="tag" name="bbs_tag"></td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="submit" class="btn btn-sm btn-outline-success">게시</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ 내용 End ================= -->
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>