<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div th:include="~{common/header.html}"></div>
<main class="site-main">
    <section class="login_box_area section-margin">
        <div class="container mt-5">
            <table class="table table-bordered table_up">
                <tbody>
                <tr>
                    <th colspan="2" style="background-color:#f1f6f7">제목</th>
                    <td colspan="3" th:text="${boardDTO.bbs_title}">제목입니다</td>
                    <th colspan="2" style="background-color:#f1f6f7">좋아요</th>
                    <td>
                        [[${boardDTO.bbsGood}]]
                        <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" onchange="bbsGood(this)" th:checked="${goodcheck == true}">
                        <label class="btn btn-outline-primary" for="btncheck1">좋아요</label>
                    </td>
                </tr>
                <tr>
                    <th colspan="3" style="background-color:#f1f6f7">등록일</th>
                    <th colspan="3" style="background-color:#f1f6f7">오늘의 학습 노출 여부</th>
                    <th colspan="3" style="background-color:#f1f6f7">오늘의 학습 노출기간</th>
                </tr>
                <tr>
                    <td colspan="3" th:text="${boardDTO.regDate}"></td>
                    <td colspan="3">[[${boardDTO.bbsExposure}]]</td>
                    <th:block th:if="${boardDTO.bbsDuration1 != null}">
                        <td colspan="3">[[${boardDTO.bbsDuration1 +' ~ '+ boardDTO.bbsDuration2}]]</td>
                    </th:block>
                    <th:block th:if="${boardDTO.bbsDuration1 == null}">
                        <td colspan="3"></td>
                    </th:block>
                </tr>
                <tr>
                    <th:block th:if="${boardDTO.bbs_file != null && boardDTO.bbs_file !=''}">
                        <td colspan="4" style="height:600px; position: relative;"><img th:src="'/upload/'+${boardDTO.bbs_file}" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></td>
                    </th:block>
                    <th:block th:if="${boardDTO.bbs_file == null || boardDTO.bbs_file ==''}">
                        <td colspan="4" style="height:600px; position: relative;"><img src="/upload/default.png" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></td>
                    </th:block>
                    <td colspan="6"><div><div class=""><p th:text="${boardDTO.bbs_content}"></p><p><br></p></div></div></td>
                </tr>
                <tr>
                    <th colspan="2" style="background-color:#f1f6f7">공유중인 사람</th>
                    <td colspan="7">
                        <div>
                            <ul>
                            <th:block th:each="list : ${shareList}">
                                <li>
                                    [[${list.response_name+' (' + list.responseId + ') 공유한 시간: (' + list.send_date + ')'}]]
                                    <th:block th:if="${boardDTO.userId == session.user_id}">
                                        <button type="button" class="btn-close" aria-label="Close" onclick="deletetest(this)" th:value="${list.idx}"></button>
                                    </th:block>
                                    <th:block th:if="${boardDTO.userId != session.user_id}">
                                        <button type="button" class="btn-close" aria-label="Close" disabled onclick="deletetest(this)" th:value="${list.idx}"></button>
                                    </th:block>
                                </li>
                            </th:block>
                            </ul>
                            <th:block th:if="${boardDTO.userId == session.user_id}">
                                <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">공유하기</button>
                            </th:block>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th colspan="1" style="background-color:#f1f6f7">분야</th>
                    <td colspan="4">[[${boardDTO.bbs_part}]]</td>
                    <th colspan="1" style="background-color:#f1f6f7">해시태그</th>
                    <td colspan="3" th:text="${boardDTO.bbs_tag}"></td>
                </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-end mt-5">
                <button class="btn btn-sm btn-outline-success me-2" onclick="location.href='/bbs/list'" style="width:80px;">목록</button>
                <th:block th:if="${boardDTO.userId == session.user_id}">
                <button class="btn btn-sm btn-outline-success me-2" onclick="location.href='/bbs/regist'" style="width:80px;">등록</button>
                <button class="btn btn-sm btn-outline-success me-2" th:onclick="|location.href='@{/bbs/modify(bbsIdx=${boardDTO.bbsIdx})}'|" style="width:80px;">수정</button>
                <button class="btn btn-sm btn-outline-success me-2" th:onclick="bbs_delete()" style="width:80px;">삭제</button>
                </th:block>
            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="idsearch" id="idsearch" maxlength="20">
                    <button type="button" class="btn btn-sm btn-outline-success" data-bs-toggle="popover" title="Popover title" onclick="search(0)">검색하기</button>
                    <hr>
                    <h2 class="fs-5">검색 결과</h2>
                    <table class="table" id="searchList">
                    </table>
                    <nav aria-label="Page navigation example" class="paginglist">
                    </nav>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary" onclick="addShare()">추가하기</button>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
    let idx = [[${boardDTO.bbsIdx}]];
    console.log(idx);

    function bbs_delete(){
        if(confirm("정말 삭제하시겠습니까?")){
            console.log("test");
            $.ajax({
                url:"/bbs/delete.dox",
                dataType:"json",
                type : "POST",
                data : {
                    idx:idx
                },
                success : function(data) {
                    alert("성공적으로 삭제되었습니다.");
                    location.replace("/bbs/list");
                },
                fail : function (data){
                    alert("실패했습니다.");
                }

            });
        }
    }

    function search(page){
        let id = document.querySelector("#idsearch");
        let searchList = document.querySelector("#searchList");
        let pagingList = document.querySelector(".paginglist");
        $.ajax({
            url:"/member/searchId.dox",
            dataType:"json",
            type : "POST",
            data : {
                search_word:id.value,
                page :page
            },
            success : function(data) {
                if(data.result == "success") {
                    let idxList = data.idxList;
                    let idList = data.idList;
                    let nameList = data.nameList;
                    let parsing ="<thead>\n" +
                        "<tr>\n" +
                        "<th scope=\"col\" class=\"bg-geni-dark text-dark\">#</th>\n" +
                        "<th scope=\"col\" class=\"bg-geni-dark text-dark\">아이디</th>\n" +
                        "<th scope=\"col\" class=\"bg-geni-dark text-dark\">이름</th>\n" +
                        "</tr>\n" +
                        "</thead>";
                    for(let i = 0; i<idList.length; i++) {
                        parsing +=
                            // "<div class=\"form-check\">\n" +
                            "<tr>"+
                            "<th scope=\"row\">"+
                            "  <input class=\"form-check-input lg-checkbox choice\" type=\"checkbox\" name=\"response_id\" value="+idList[i]+">" +
                            "</th>" +
                            "<td>"+
                            "  <label class=\"form-check-label\" >\n" +
                             idList[i]  +
                            "  </label>\n" +
                            "</td>"+
                            "<td>"+nameList[i]+"</td>"+
                            // "</div>"+
                            "</tr>";
                        // parsing +="<li><input type='checkbox' value="+idList[i]+" class='choice' name='response_id'>"+ idList[i]+"</li>";
                    }
                    let parsing1 = "";
                    parsing1 += "                <ul class=\"pagination justify-content-center\">\n" ;
                    if(data.prev_page_plag == false){
                        parsing1 += "                        <li class=\"page-item disabled\">\n" ;
                    }else{
                        parsing1 +="                        <li class=\"page-item\">\n" ;
                    }

                    parsing1+=    "                        <button class=\"page-link\" onclick=\"search("+(data.page_block_start-6)+")\"+ aria-label=\"Previous\">\n" +
                        "                            <span aria-hidden=\"true\">&laquo;</span>\n" +
                        "                        </button>\n" +
                        "                    </li>\n" ;

                    for(let i =data.page_block_start; i<=data.page_block_end; i++){
                        if(page == i-1) {
                            parsing1 += "<li class =\"page-item active\"><button class=\"page-link\" onclick=\"search(" + (i - 1) + ")\">" + i + "</button></li>\n";
                        }else{
                            parsing1 += "<li class =\"page-item\"><button class=\"page-link\" onclick=\"search(" + (i - 1) + ")\">" + i + "</button></li>\n";
                        }
                    }

                    if(data.next_page_plag == false){
                        parsing1 += "                        <li class=\"page-item disabled\">\n" ;
                    }else{
                        parsing1 +="                        <li class=\"page-item\">\n" ;
                    }

                    parsing1+=    "                        <button class=\"page-link\" onclick=\"search("+(data.page_block_start+4)+")\"+ aria-label=\"Next\">\n" +
                        "                            <span aria-hidden=\"true\">&raquo;</span>\n" +
                        "                        </button>\n" +
                        "                    </li>\n" +
                        "                </ul>\n" +
                        "            </nav>";

                    searchList.innerHTML = parsing;
                    pagingList.innerHTML = parsing1;
                }else{
                    alert(data.msg);
                }

            },
            fail : function (data){
                alert("실패했습니다.");
            }

        });
    }

    function deletetest(item){
        console.log(item.value);
        if(confirm("정말 공유를 취소하시겠습니까?")){
            $.ajax({
                url:"/bbs/shareDelete.dox",
                dataType:"json",
                type : "POST",
                data : {
                    idx:item.value
                },
                success : function(data) {
                    alert("성공적으로 삭제되었습니다.");
                    location.replace("/bbs/view?bbsIdx="+idx);
                },
                fail : function (data){
                    alert("실패했습니다.");
                }

            });
        }
    }
    function addShare(){
        var check_list = [];
        let choose = document.querySelectorAll(".choice");
        for(let choice of choose){
            if(choice.checked) {
                check_list.push(choice.value);
            }
        }
        console.log(check_list);
        console.log(idx);
        $.ajax({
            url:"/bbs/bbsshare.dox",
            dataType:"json",
            type : "POST",
            data : {
                idList : JSON.stringify(check_list),
                bbsIdx : idx
            },
            success : function(data) {
                if(data.result == "success") {
                    alert(data.msg);
                    location.replace("/bbs/view?bbsIdx="+idx);
                }else{
                    alert(data.msg);
                }

            },
            fail : function (data){
                alert("실패했습니다.");
            }

        });
    }

    function bbsGood(item){
        let check = item.checked;
        $.ajax({
            url:"/bbs/bbsgood.dox",
            dataType:"json",
            type : "POST",
            data : {
                checkYN:check,
                bbsIdx : idx
            },
            success : function(data) {
                if(data.result == "success") {
                    alert(data.msg);
                    location.replace("/bbs/view?bbsIdx="+idx);
                }else{
                    alert(data.msg);
                }

            },
            fail : function (data){
                alert("실패했습니다.");
            }

        });
    }

</script>
</body>
</html>